USE [master]
GO
/****** Object:  Database [WPFTicTacToe]    Script Date: 23/01/2023 11.40.35 ******/
CREATE DATABASE [WPFTicTacToe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WPFTicTacToe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WPFTicTacToe.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WPFTicTacToe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WPFTicTacToe_log.ldf' , SIZE = 5696KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WPFTicTacToe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WPFTicTacToe]
GO
/****** Object:  Table [dbo].[HighScore]    Script Date: 23/01/2023 11.40.35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HighScore](
	[name] [varchar](max) NOT NULL,
	[xScore] [int] NULL,
	[oScore] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
